* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {font-family: Arial, Helvetica, sans-serif;}
.FlexContainer {
    width: 100%;
    min-height: 100vh;
    gap: 2em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 600ms linear;
}
.Dark {
    background-color: black;
    color: white;
}
.White {
    background-color: white;
    color: black;
}
h2 {margin: 10px 0;}
section {
    margin-top: 15px;
    width: 90%;
    max-width: 900px;
}
section p {
    font-weight: 600;
    font-size: 1.2rem;
    text-indent: 10px;
    line-height: 25px;
    text-align: justify;
    hyphens: auto;
}
button {
    width: 300px;
    padding: 10px 0;
    border-radius: 1em;
    font-size: 1.2rem;
    border: none;
    color: white;
    transition: background-color 600ms linear;
}
button:hover {background-color: rgb(83, 8, 83);}