* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {font-family: Arial, Helvetica, sans-serif;}
.Container {
    width: 100%;
    min-height: 100vh;
    gap: 2em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.Ativado {display: block;}
.Desativado {display: none;}
#SectionTitle {
    font-variant: small-caps;
    letter-spacing: 2px;
    font-size: 2.5rem;
    transition: color 400ms linear;
}
#SectionTitle:hover {
    color: red;
    cursor: pointer;
}
#TextBox {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
#TextBox p {
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 1em 0;
}