@charset "UTF-8";
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
    padding: 10px 0px 20px 0px;
}
main {
    border-radius: 3em;
    padding: 10px 0px 15px 0px;
    background-color: lightblue;
    margin: auto;
    max-width: 700px;
    min-width: 300px;
}
p {
    padding: 0px 0px 20px 0px;
    text-align: center;
    font-variant: small-caps;
}
.espac {
    display: block;
    margin: 0px auto 20px auto;
    padding: 5px 7px 3px 7px;
    border: 0.4px solid grey;
    border-radius: 4px;
}