* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --c1: #8EB9FC;
    --c2: #6380B0;
    --c3: #3C4F6C;
}
body {font-family: Arial, Helvetica, sans-serif;}
.Flex {
    width: 100%;
    min-height: 100vh;
    background-color: var(--c2);
    align-items: flex-start;
}
.Grid {
    margin-top: 3em;
    display: grid;
    grid-template:  100px repeat(3, 190px) / 1fr;
    grid-auto-rows: 100px;
    width: 90%;
    max-width: 500px;
    align-items: center;
}
.Flex, .GridItem {
    display: flex;
    justify-content: center;
}
.GridItem {
    color: white;
    font-weight: 700;
    transition: font-size 700ms ease;
}
.Title {
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 2.5rem;
    border-bottom: 3px solid var(--c3);
}
.Hours, .Minutes {
    color: white;
    font-size: 5.5rem;
}
.Seconds {
    color: var(--c3);
    font-size: 4rem;
}
.Hours::after {content: "h";}
.Minutes::after {content: "m";}
.Seconds::after {content: "s";}

@media screen and (min-width: 769px ) {
    .Flex {align-items: center;}
    .Grid {
        margin: 0;
        grid-template: 150px 250px / repeat(3,1fr);
        max-width: 900px;
    }
    .Title {
        font-size: 3rem;
        grid-area: 1 / 1 / 2 / -1;
    }
    .Hours, .Minutes, .Seconds {
        color: var(--c3);
        font-size: 5rem;
    }
}
@media screen and (min-width: 992px) {
    .Title {
        letter-spacing: 5px;
        font-size: 4rem;
    }
    .Hours, .Minutes, .Seconds {font-size: 6.5rem;}
}