* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%; min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    gap: 2em;
}
.Container {
    width: 90%;
    padding: 10px 5px;
    border: 1px solid black;
    border-radius: 1em;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}
.ButtonContainer {
    width: 100%; height: 200px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}
button {
    background-color: lightblue;
    letter-spacing: 2px;
    font-size: 1.2rem;
    width: 90%;
    flex: 0 0 42px;
    padding: 5px 10px;
}
.Resultado {
    text-align: justify;
    display: none;
    width: 90%;
    padding: 5px 15px;
    line-height: 30px;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
}
button, .Resultado {
    border: none;
    border-radius: 1em;
}